@font-face {
  font-display: swap;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v15-latin-regular.woff2") format("woff2");
}
